server {
    listen 80;
    server_name {{ item.1 }};
    root /srv/{{ item.1 }};

    error_log /srv/{{ item.1 }}/logs/www-error.log error;
    access_log /srv/{{ item.1 }}/logs/www-access.log;

    # Setting to zero to cache everything
    set $bypass_cache 0;

    charset utf-8;
    index index.html index.htm index.php;

    location ~* \.(?:rss|atom)$ {
        expires 1h;
        add_header Cache-Control "public";
    }

    location ~* \.(svg|jpg|jpeg|gif|png|css|js|ico|xml|ttf|otf|woff|woff2)$ {
        access_log off;
        log_not_found off;
        expires 1M;
        add_header Cache-Control "public";
    }

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    if ($request_uri ~* "/wp-admin|/wp-login.php") {
        set $bypass_cache 1;
    }

    if ($query_string != "") {
        set $bypass_cache 1;
    }

    if ($http_cookie ~* "comment_author|wp-postpass|wordpress_logged_in") {
        set $bypass_cache 1;
    }
{%- if php -%}
    location ~ \.(php)$ {
        fastcgi_intercept_errors on;
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_keep_conn on;

        include fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SERVER_NAME $host;
        fastcgi_pass unix:/var/run/php-fpm/{{ item.1 }}.sock;

        fastcgi_cache sitecache; # The name of the cache key-zone to use
        fastcgi_cache_valid 200 5m; # What to cache: 'code 200' responses, for 5 minutes
        fastcgi_cache_methods GET HEAD; # What to cache: only GET and HEAD requests (not POST)
        add_header X-Cache $upstream_cache_status; # Allow us to see if the cache was HIT, MISS, or BYPASSED inside a browser's Inspector panel
        fastcgi_cache_bypass $bypass_cache; # Dont pull from the cache if true
        fastcgi_no_cache $bypass_cache; # Dont save to the cache if true
    }
{% endif %}
    location ~ /\.ht {
        deny  all;
    }
}
